<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		.infocap{
			font-size:10pt;
			font-weight:bold;
			color:Orange;
			vertical-align:middle;
			padding-left:25px;
			line-height:25px;
			background:url('http://www.cmtevents.com/eventdatas/130106/panelinfo.png') repeat-x;
		}
		
		.daycap{
			font-size:10pt;
			font-weight:bold;
			text-decoration:none;
			color:White;
			padding-left:5px;
			height:30px;
			background:url('http://www.cmtevents.com/eventdatas/130106/panel.png') repeat-x;
			vertical-align:bottom;
		}
		
		.b{
			background: url('http://www.cmtevents.com/eventdatas/130106/dot.gif') 0 100% repeat-x;
			padding:0px;
		}
		
		.l{
			background: url('http://www.cmtevents.com/eventdatas/130106/dot.gif') 0 0 repeat-y;
		}
		
		.r{
			background: url('http://www.cmtevents.com/eventdatas/130106/dot.gif') 100% 0 repeat-y;
		} 
		
		.t{
			background: url('http://www.cmtevents.com/eventdatas/130106/dot.gif') 0 0 repeat-x;
		}
		
		.tl{
			background: url('http://www.cmtevents.com/eventdatas/130106/tl.gif') 0 0 no-repeat;
		}
		
		.tr{
			background: url('http://www.cmtevents.com/eventdatas/130106/tr.gif') 100% 0 no-repeat; 
			padding:0px;
		} 
		
		.bl{
			background: url('http://www.cmtevents.com/eventdatas/130106/bl.gif') 0 100% no-repeat;
		}
		
		.br{
			background: url('http://www.cmtevents.com/eventdatas/130106/br.gif') 100% 100% no-repeat;
			padding:0px;
		}
		
		.bm {background: url('http://www.cmtevents.com/eventdatas/130106/dotm.gif') 0 100% repeat-x;padding:0px;}.lm{background: url('http://www.cmtevents.com/eventdatas/130106/dot.gif') 0 0 repeat-y}.rm{background: url('http://www.cmtevents.com/eventdatas/130106/dot.gif') 100% 0 repeat-y} .tm{background: url('http://www.cmtevents.com/eventdatas/130106/dotm.gif') 0 0 repeat-x;}.tlm {background: url('http://www.cmtevents.com/eventdatas/130106/tlm.gif') 0 0 no-repeat}.trm{background: url('http://www.cmtevents.com/eventdatas/130106/trm.gif') 100% 0 no-repeat; padding:0px;} .blm {background: url('http://www.cmtevents.com/eventdatas/130106/blm.gif') 0 100% no-repeat}.brm {background: url('http://www.cmtevents.com/eventdatas/130106/brm.gif') 100% 100% no-repeat;padding:0px;}.captionnor{padding-left:10px;width:100%;background: url('http://www.cmtevents.com/eventdatas/130106/dot.gif') ;}
	</style>
<head>
	<title>
		WIZ | COS2-ASIA
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:22px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="/home">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;" class="current_page_item"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="divcontent" class="content">
		<div style="width:750px;padding-right:0px;border:inset 0px red;margin-left:300px;" id="content">
			<table cellpadding="0" cellspacing="0" border="1" style="vertical-align:top;">
				<colgroup>
					<col style="width:50%;">
				<!--	<col style="width:33.3%;border:inset 2px red;"> -->
					<col style="width:50%;">
				</colgroup>
          
				<tbody>
					<tr>
						<td style="vertical-align:top;"><div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
								<tr><td class="daycap" colspan="2"> Day 1 - [24 June, 2014 - Thursday]</td></tr>
								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">08:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Opening Remarks<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:15</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Global Insight on Carbon Dioxide Economy and Utilization<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- CO2 Market Outlook: Supply and Demand</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Major Drivers of CO2 Demand</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Status Quos of CO2 Market Size</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:45</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Main Source of Carbon Dioxide in the Future<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- What Make a Good Source of CO2 Today?</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Future Outlook of CO2 Source</span></br>
									</td>
								</tr>									
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:15</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">CO2 Supply through Direct Air Capture	<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Location-independent CO2 supply from the atmosphere</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Sustainable CO2 source for synthesis of chemicals and fuels</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">CO2 capture & purification Technology Analysis<br></div>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Lunch Buffet<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Global Status of Carbon Capture & Storage(CCS)<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- CCS is already contributing, but progress must be accelerated</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Encouraging policy support but more required</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Reducing the cost of technology through demonstration projects is vital</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biological Conversion of CO2 to Fuels and Chemicals<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Current Situation Introduction</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Direct Conversion of CO2 to Fuels and Chemicals</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Biochemical Pathways and Feasibility Demonstration</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Innovative Pathways to Convert Carbon Dioxide into Low-Carbon Fuels & Chemicals<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Recycling Carbon Dioxide for the Production of Renewable Fuel</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Production of Clean Fuels from Renewable Hydrogen and Captured CO2</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Commercialization of High Performance CO2 based Polyols<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Economic advantages versus petroleum based polyols</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Environmental benefits</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Applications of CO2 based Polyols</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">18:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Dinner Buffet<br></div>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
						
						<td style="vertical-align:top;"><div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
									<tr><td class="daycap" colspan="2"> Day 2 - [25 June, 2014 - Friday] &nbsp &nbsp &nbsp</td></tr>
									<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">09:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">CO2 Based Methanol: New way to Carbon Emmission Reduction<br></div>
										<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Commercial Aspects of CO2 Based Methanol</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Catalyst for CO2 Conversion Directly to Methanol</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Dimethyl Carbonate Industry Development in China<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- CO2 as Feedstock for DMC</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Capacity Expanding of DMC in China and its Requirement of CO2</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Demand of CO2 in the Future</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Commercialization of Biodegradable Plastic based on Industrial Waste Gas<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- China's Footprint in this Industry</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Technical Bottlenecks</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Prospects on the Commercialization</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Power to gas – new ways for fuel production from CO2<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- What Make aConverting CO2 directly to fuels: How it works</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Opportunities for emitters: Enter new markets, comply with mandates, meet sustainability goals</span></br>
									</td>
								</tr>	
								</tbody>
							</table>
						</td>
				  
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
 
</body>

</html>