<html>

<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/debug.css">
	<style>

	</style>
</head>

<body>
	<!-- Header -->
	<div class="wizcontainer">
		<div id="wiz" class="wizHeaderImg">
			<a href="/"><img src="/images/wiz-company.jpg" alt="Wiz Business"></a>
		</div>
		<div id="wiz-bg" class="wizHeader">
		</div>
	</div>

	<div id="mainbody" class="mainbody">
		<!-- Menu -->
		<div id="menu" class="menu">
			<ul>
				<li><a href="/" title="Home">Home</a></li>
				<li><a href="/" title="Events">Events</a></li>
				<li><a href="/" title="News">News</a></li>
				<li><a href="/" title="Opportunities">Opportunities</a></li>
				<li><a href="/" title="Contact Us">Contact Us</a></li>
				<li><a href="/" title="About Us">About Us</a></li>
			</ul>
		</div>
		<!-- Slide Img-->
		<div id="slide" class="slide redbox">

		</div>

		<!-- Coming Events -->
		<div id="events" class="eventdiv redbox">

		</div>

		<!-- Introduction-->
		<div id="intro" class="introdiv redbox">
		</div>

		<!-- Footbar -->
		<div id="footer" class="footer">
			<img src="/images/footbar.jpg" alt="Wiz Business" style="position:absolute;z-index:2;">
			<div id="footmenu" class="footermenu">
				<a href="/">Events</a>
				<a href="/">News</a>
				<a href="/">Opportunities</a>
				<a href="/">Contact Us</a>
				<a href="/">About Us</a>
			</div>
		</div>
		<div class="copyright">
			<span>Copyright(C)2009-2010 WIZ Business Company Limited</span>
			<br>
			<span>Address: No. 851, Jusheng Rd., Shanghai</span>
		</div>
	</div>
</body>

</html>